/* basic-start */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Squada One", cursive;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    background: #1f1c2c;
    background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
    background: linear-gradient(to right, #928dab, #1f1c2c);
}

.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title {
    padding: 0;
    margin: 0;
}

.info {
    display: inline-block;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* basic-end */

.buble-root {
    display: none;
}

.fish {
    display: none;
    position: fixed;
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    top: 30%;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(850px, 0px);
    }
}

.body {
    position: relative;
    width: 250px;
}

.mechanical-ring {
    position: absolute;
    width: 200px;
    left: 58px;
    margin-top: 36px;
    z-index: 200;
    animation-name: mechanical-rotation-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes mechanical-rotation-1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.fish-scale {
    animation-name: scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    20% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(-1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.designe {
    color: #ffffff9c;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.mechanical-ring-2 {
    position: absolute;
    width: 180px;
    top: 42px;
    left: 68px;
    z-index: -1;
    animation-name: mechanical-rotation-2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes mechanical-rotation-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.mechanical-ring-3 {
    position: absolute;
    width: 50px;
    top: 110px;
    left: 130px;
    animation-name: mechanical-rotation-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.compound {
    position: absolute;
    width: 60px;
    top: 110px;
    left: 220px;
    z-index: 100;
}

.compound2 {
    position: absolute;
    width: 60px;
    top: 118px;
    left: -40px;
}

.fish-scale-mod {
    position: relative;
    z-index: 20;
}

.head {
    position: absolute;
    top: 55px;
    left: 230px;
    width: 180px;
}

.tail {
    position: absolute;
    width: 100px;
    top: 73px;
    left: -95px;
}

.compound,
.compound2 {
    animation-name: half-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes half-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.head {
    animation-name: head-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes head-rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.tail {
    animation-name: tail-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes tail-rotate {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.puz {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    animation-name: puz-scale;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes puz-scale {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1.3, 1.3);
    }
}

.puz-up {
    display: inline-block;
    position: absolute;
    bottom: 0;
    animation-name: puz-up;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes puz-up {
    0% {
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(0px, -800px);
    }
}

.puz-rotate {
    position: absolute;
    bottom: 0;
    display: inline-block;
    animation-name: puz-rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes puz-rotate {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(20px, 20px);
    }
    100% {
        transform: translate(0px, 00px);
    }
}


/* ==================== */

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1170px) {
    .container {
        width: 1170px;
    }
    .buble-root {
        display: block;
    }
    .info {
        display: none;
    }
    .fish {
        display: block;
    }
}